pip~=25.0
attrs~=23.2.0
wheel~=0.41.2
PySocks~=1.7.1
Pillow~=10.0.1
jinja2~=3.1.4
pytz~=2022.7.1
freezegun~=1.2.2
Django~=4.1.13
pytest~=7.4.0
openpyxl~=3.0.10
python-telegram-bot[rate-limiter, job-queue]~=21.4
XlsxWriter~=3.0.9
aiohttp~=3.10.11
telethon~=1.31.1
httpcore~=1.0.5
beautifulsoup4~=4.12.3
streamlink~=6.7.3
xmltodict~=0.14.2
requests~=2.32.0
asynctest~=0.13.0
pydub~=0.25.1
coverage~=7.0.5
google-genai~=0.2.1
litellm~=1.72.2

# Dependencies only on when running on raspberry pi in production
RPi.GPIO==0.7.1; platform_machine == 'armv7l'
