aiohttp~=3.10.11
asynctest~=0.13.0
attrs~=23.2.0
beautifulsoup4~=4.12.3
coverage~=7.0.5
Django~=4.1.13
freezegun~=1.2.2
google-genai~=0.2.1
httpcore~=1.0.5
jinja2~=3.1.4
litellm~=1.75.8
openai~=1.99.9
openpyxl~=3.0.10
Pillow~=10.0.1
pip~=25.0
pydub~=0.25.1
PySocks~=1.7.1
pytest~=7.4.0
python-dotenv~=1.0.0
python-telegram-bot[rate-limiter, job-queue]~=21.4
requests~=2.32.0
streamlink~=6.7.3
telethon~=1.31.1
wheel~=0.41.2
XlsxWriter~=3.0.9
xmltodict~=0.14.2

# Dependencies only on when running on raspberry pi in production
RPi.GPIO==0.7.1; platform_machine == 'armv7l'
