aiocron~=1.8
coverage~=6.2
Django~=4.0.1
gunicorn==20.1.0
python-telegram-bot~=13.10
pytz~=2019.3
requests~=2.22.0

asgiref~=3.4.1
constants~=0.6.0
Pillow~=9.2.0
PyWavelets~1.3.0
imagehash-4.2.1
scipy-1.9.0
ImageHash~=4.2.1