<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Kirjaudu ulos</a></p>
<div>
      <h1>{{ chat.title }}</h1>
      <table>
      <tr>
          <th>Taistelija </th>
          <th>Sotilasarvo </th>
          <th>Kunniakerroin </th>
          <th>Viestit </th>
      </tr>
      {% for chat_member in chat.chatmember_set.all %}
          <tr>
              <td>{{ chat_member.tg_user}}</td>
              <td>{{ chat_member.rank_str }}</td>
              <td>{{ chat_member.prestige }}</td>
              <td>{{ chat_member.message_count }}</td>
         </tr>
      {% endfor %}
      </table>
</div>

{% else %}
  <p>Et ole kirjautunut sisään</p>
  <a href="{% url 'login' %}">Kirjaudu sisään</a>
{% endif %}
{% endblock %}
