name: Main branch quality gate

on:
  push:
    branches: [ main ]

jobs:
  tests_and_sonar:
    name: tests_and_sonar
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('requirements.txt') }}

    - name: Set up ffmpeg
      uses: FedericoCarboni/setup-ffmpeg@v2

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --upgrade-strategy eager -r requirements.txt
        
    - name: Test migration script
      run: |
        coverage run -m unittest discover bobweb/utilities
        coverage xml -i
        sed -i 's/\/home\/runner\/work\/bobweb2\/bobweb2\//\/github\/workspace\//g' coverage.xml
        
    - name: Check for migrations
      run: |
        python utilities/check_for_new_migrations.py

    - name: Run unit tests
      env:
        BOT_TOKEN: "DUMMY_TOKEN"
        DJANGO_SECRET_KEY: "DUMMY_SECRET"
      run: |
        python web/manage.py migrate
        coverage run -m unittest discover bot
        coverage xml -i
        echo "This sed will change the filepaths from coverage report to"
        echo "absolute paths so that sonar will find them"
        sed -i 's/\/home\/runner\/work\/bobweb2\/bobweb2\//\/github\/workspace\//g' coverage.xml
        coverage run web/manage.py test --noinput
        coverage xml -i
        sed -i 's/\/home\/runner\/work\/bobweb2\/bobweb2\//\/github\/workspace\//g' coverage.xml

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
